{% load i18n %}{% autoescape off %}
{% blocktranslate %}Доброго дня,

Якщо Ви отримали це повідомлення, то, ймовірно, Ви не можете увійти на свій акаунт через неправильний пароль. Ми розуміємо, як важливо для Вас мати доступ до свого акаунту і раді допомогти Вам у цьому.{% endblocktranslate %}

{% translate "Для відновлення пароля, будь ласка, натисніть на посилання нижче і слідуйте інструкціям на екрані:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Якщо Ви не надсилали запит на скидання пароля, ігноруйте це повідомлення." %}

{% blocktranslate %}З повагою,
Команда підтримки сайту{% endblocktranslate %}

{% endautoescape %}