{% extends '../base.html' %}
{% block title %}Post Edit Page{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-12 col-lg-7  mx-auto">
            <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
                {% csrf_token %}
                <div class="form-group col-md-8">
                    <label for="title">Заголовок</label><br>
                    {{ form.title }}
                </div>
                <div class="form-group col-md-8">
                    <label for="content">Текст посту</label><br>
                    {{ form.content }}
                </div>
                <div class="col-md-8">
                    <button class="btn btn-secondary w-100" id="edit-post">Редагувати</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}